config.json
context_window
TODO
venv/*
v0.9/cogs/__pycache__/freewill.cpython-312.pyc
v0.9/cogs/__pycache__/gemini.cpython-312.pyc
v0.9/cogs/__pycache__/main_cog.cpython-312.pyc
v0.9/modules/__pycache__/ContextWindow.cpython-312.pyc
v0.9/modules/__pycache__/Memories.cpython-312.pyc
v0.9/modules/__pycache__/BotModel.cpython-312.pyc
