{
    "gemini_api_key": "",
    "elevenlabs_api_key": "",
    "discord_token": "",
    "aiModel": "jackal",
    "maxContext": "200",
    "filterSexuallyExplicit": "BLOCK_NONE",
    "filterHarassment": "BLOCK_NONE",
    "filterDangerous": "BLOCK_NONE",
    "filterHateSpeech": "BLOCK_NONE",
    "filterUnspecified": "BLOCK_MEDIUM_AND_ABOVE",
    "temperature": "0.7",
    "topP": "0.95",
    "topK": "40",
    "memoryWindow": "50",
    "contextWindow": "8192",
    "wack_message": "Ow! Uhh, what were we talking about?",
    "wack_error": "Sorry, can't remove what's not there. :joy:",
    "error_message": "Nuh uh, not gonna happen.",
    "activate_message": "Hey! I'm new here :wave:",
    "deactivate_message": "Awh, sorry to see you go! You can still talk to me by pinging me :pleading_face:",
    "vociceModel": "",
    "recording-time": "10",
    "deepContext": "on",
    "freewill": "on",
    "textFrequency": "5",
    "keywordChance": "10",
    "keywords": ""
}