<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nugget Tech Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>

</head>
<body>
    <div class="sidebar">
        <button class="toggle-button" id="toggleSidebar">☰ Nugget Tech</button>
        <!-- <h1>Nugget Tech</h1> -->
        <label class="sidebar-label" id="home">Home</label>
        <a href="/home">🏠<span class="link-text">Dashboard</span></a>
        <a href="{{invite_url}}">📭<span class="link-text">Add to server</span></a>
        <label class="sidebar-label" id="AEC">AI Engine Configuration</label>
        <a href="/{{ nugget_alias }}/model-configuration">🚂<span class="link-text">Model Configuration</span></a>
        <a href="/knowledge">🧠<span class="link-text">Knowledge</span></a>
        <a href="/{{ nugget_alias }}/memories">📚<span class="link-text">Memories</span></a>
        <label class="sidebar-label" id="pref">Preferences</label>
        <a href="#">🧑‍🦲<span class="link-text">Profile</span></a>
        <a href="#">🚪<span class="link-text">Logout</span></a>
        <a href="/settings" id="current-page">⚙️<span class="link-text">Settings</span></a>
    </div>

    <div class="navbar">
        <!-- <button class="button" id="modeSwitch">Switch Mode</button> -->
        <p class="username">{{username}}</p>
        <img src="{{avatar_url}}" alt="Profile Picture">
    </div>

    <div class="content">
        <div class="card configuration">
        <!-- <button class="button" id="modeSwitch">Switch Mode</button> -->
        <h1>TODO REMAKE</h1>
        <button class="button" onclick=toggleDarkMode() id="modeSwitch"></button>
        </div>
    </div>
</body>